<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dylicious.mydoctors" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />

    <application
        android:name="com.orm.SugarApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="DATABASE"
            android:value="sugar_example.db" />
        <meta-data
            android:name="VERSION"
            android:value="2" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="com.example" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ViewDocActivity"
            android:label="@string/title_activity_view_doc" >
        </activity>
        <activity
            android:name=".ViewDoctorProf"
            android:label="@string/title_activity_view_doctor_prof" >
        </activity>
        <activity
            android:name=".StorePatientProfile"
            android:label="@string/title_activity_store_patient_profile" >
        </activity>
        <activity
            android:name=".ViewPatientProfile"
            android:label="@string/title_activity_view_patient_profile" >
        </activity>
        <activity
            android:name=".OnBoardingGuide"
            android:label="@string/title_activity_on_boarding_guide" >
        </activity>
        <activity
            android:name=".OnBoardingGuide2"
            android:label="@string/title_activity_on_boarding_guide2" >
        </activity>
        <activity
            android:name=".SearchActivity1"
            android:label="@string/title_activity_search1" >
        </activity>
        <activity
            android:name=".OnBoardingGuide3"
            android:label="@string/title_activity_on_boarding_guide3" >
        </activity>
        <activity
            android:name=".StartingPage"
            android:label="@string/title_activity_starting_page" >
        </activity>
        <activity
            android:name=".MenuActivity"
            android:label="@string/title_activity_menu" >
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".AddMenu"
            android:label="@string/title_activity_add_menu" >
        </activity>
        <activity
            android:name=".AppointmentRecorder"
            android:label="@string/title_activity_appointment_recorder" >
        </activity>
        <activity
            android:name=".AppointmentViewer"
            android:label="@string/title_activity_appointment_viewer" >
        </activity>
        <activity
            android:name=".DoctorList"
            android:label="@string/title_activity_doctor_list" >
        </activity>
        <activity
            android:name=".AppointmentList"
            android:label="@string/title_activity_appointment_list" >
        </activity>
        <activity
            android:name=".SearchDoc"
            android:label="@string/title_activity_search_doc" >
        </activity>
        <activity
            android:name=".Search"
            android:label="@string/title_activity_search" >
        </activity>
        <activity
            android:name=".ViewDoc2"
            android:label="STEP 2" >
        </activity>
        <activity
            android:name=".ViewDoc3"
            android:label="@string/title_activity_view_doc3" >
        </activity>
        <activity
            android:name=".Calendar"
            android:label="@string/title_activity_calendar" >
        </activity>
    </application>

</manifest>
